<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/images/treetopbakery-favicon.ico" type="image/x-icon" />
  <title>{{ title }}</title>
  <!-- Snipcart -->
  <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.3.0/default/snipcart.css" />
  <!-- Font -->
  <link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Quicksand:wght@400;500;700&display=swap"
    rel="stylesheet">
  <script src="https://cdn.snipcart.com/themes/v3.3.0/default/snipcart.js" async></script>
</head>

<body>

  {% include "partials/nav.njk" %}

  <main>
    {{ content | safe }}
  </main>


  {% include "partials/footer.njk" %}

  <!-- public key doesnt matter rn -->
  <div hidden id="snipcart" data-api-key="OWExNzA3MjctMTVhNC00MDU5LWI5NTUtYWUzZjdlMmMyNjgyNjM4OTYwODc0NzM2NzQ0NDM0">
  </div>
  <!-- REMEMBER TO ALWAYS ADD THIS HERE BROO -->
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</body>

</html>